* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-bg: #13120a;
  --color-text: #ffffff;
  --color-text-muted: #a3a3a3;
  --color-btn-primary-bg: #edecec;
  --color-btn-primary-text: #0d0d0d;
  --color-btn-primary-hover: #f5f5f5;
  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-cursor:
    CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --space-sm: 0.1rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 1.4rem;
  --space-3xl: 6.875rem;
  --radius: 0.9rem;
  --radius-lg: 0.75rem;
  --radius-xs: 4px;
  --radius-xl: 2rem;
  --transition: 0.2s ease;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-md: 1.375rem;
  --text-md-lg: 1.625rem;
  --text-lg: 2.25rem;
  --text-2xlL: 4.5rem;
  --button-padding-default: 0.78em 1.35em 0.8em;
  --button-padding-sm: 0.4em 0.75em 0.42em;
  --tracking-md-lg: -0.0125em;
  --color-theme-border-02-5: color-mix(
    in oklab,
    var(--color-text) 20%,
    transparent
  );
  --color-theme-accent: #f54e00;
  --link-hover-color: color-mix(
    in oklab,
    var(--color-theme-accent) 75%,
    transparent
  );
  --color-theme-button-hover-bg: #d7d5d5;
  --color-theme-card-hover-light-hex: #1d1b15;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #14120c;
  color: #f7f7f4;
  font-family: var(--font-cursor);
}
.sawarabi-gothic-regular {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-section {
  display: grid;
  grid-template-columns: 110px 1fr 110px;
}

.navbar {
  grid-column: 1/4;
  padding-left: 110px;
  padding-right: 110px;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  position: sticky;
  top: 0px;
  background-color: #14120c;
  z-index: 20;
}
.nav-left svg {
  height: 24px;
  padding-right: 7rem;
}
.nav-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-mid button:hover {
  color: #b7b5b4;
}
.nav-mid button {
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f7f7f4;
  padding: 10px 16px;
}
.nav-right button {
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  padding: 4.5px 12px;
}
.btn-signin {
  color: #f7f7f4;
  cursor: pointer;
  background-color: transparent;
  border: 0.0625rem solid var(--color-theme-border-02-5);
}
.btn-signin:hover {
  background-color: #1b1914;
}
.btn-download:hover {
  background-color: #d7d6d5;
}
.main-1 {
  grid-column: 2/3;
  margin-top: 110px;
}
.main-1 > p {
  font-size: 26px;
  width: 510px;
  font-weight: normal;
  line-height: 32.5px;
}
.dwnld-for-windows {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  background-color: #f7f7f4;
  border-radius: 25px;
  width: 229px;
  padding: 10px 0px 10px 22px;
  margin-top: 22px;
  font-weight: 400;
  margin-bottom: 63px;
  cursor: pointer;
}
.vid-1 {
  grid-column: 2 / 3;
  width: 100%;
}
.logo-stuff {
  margin-top: 68px;
  grid-column: 2/3;
  text-align: center;
}
.card-holder {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3px;
  margin-bottom: 101px;
  cursor: pointer;
}
.card-holder .card {
  height: 6.25rem;
  width: 9.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #1b1913;
}
.card img {
  height: 36px;
}
.main-2 {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-2-img-1 {
  width: 100%;
  margin-bottom: 96px;
}
.main-2 video {
  width: 100%;
  margin-bottom: 102px;
}
.main-2-img-2 {
  width: 100%;
  margin-bottom: 150px;
}
.main-2 h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 56px;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 178px;
}
.testimonial-card {
  border-radius: 5px;
  height: 240px;
  background-color: #1b1913;
  padding: 16px 16px;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.testimonial-card .bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonial-card-img {
  grid: image;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.frontlog {
  grid-column: 2/3;
  cursor: pointer;
}
.frontlog > h3 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 22px;
}
.frontlog-card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 180px;
}
.frontlog-card {
  height: 553px;
  background-color: #1b1913;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}
.frontlog-card h6 {
  font-size: 16px;
  font-weight: normal;
}
.frontlog-card p {
  color: #979899;
  margin-bottom: 15px;
}
.frontlog-card .frontlog-card-img {
  width: 100%;
  margin-top: 18px;
  border-radius: 6px;
}
.frontlog-card a {
  text-decoration: none;
  color: var(--color-theme-accent);
  margin-bottom: 50px;
}
.frontlog-card a:hover {
  color: #92391d;
}
.frontlog-card video {
  width: 100%;
  margin-top: 18px;
  border-radius: 6px;
}
.frontlog h4 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 22px;
}
.changelog-card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 120px;
  margin-bottom: 22px;
}
.changeholder-card {
  background-color: #1b1913;
  border-radius: 4px;
  padding: 16px;
  font-weight: normal;
  line-height: 24px;
}
.changeholder-card:hover {
  background-color: #26241f;
}
.changeholder-card h5 {
  font-size: 18px;
  font-weight: normal;
  color: #979899;
  margin-bottom: 14px;
}
.changeholder-card p {
  font-size: 18px;
  font-weight: normal;
}
.changeholder-card button {
  font-size: 16px;
  font-weight: normal;
  color: #f7f7f4;
  padding: 3px 8px;
  border-radius: 25px;
  background-color: transparent;
  border: 0.0625rem solid var(--color-theme-border-02-5);
}
.changelog-anchor {
  color: var(--color-theme-accent);
  font-size: 16px;
  text-decoration: none;
}
.changelog-anchor:hover {
  color: #92391d;
}
.join-us {
  margin-top: 134px;
  background-color: #1b1913;
  height: 508px;
  padding: 18px 18px 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 224px;
}
.join-us-left {
  margin-right: 4rem;
}
.join-us-left p {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 22px;
  width: 21.5rem;
}
.join-us-left a {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-theme-accent);
}
.join-us-left a:hover {
  color: #92391d;
}

.join-us img {
  width: 52.5rem;
  height: 100%;
  border-radius: 5px;
}
.highlights-outer {
  grid-column: 1/4;
  background-color: #1b1913;
  height: 704px;
  padding-top: 90px;
}
.highlight-main {
  padding: 0px 110px;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
}
.highlight-main p {
  grid-column: 1/5;
  font-size: 16px;
  font-weight: normal;
  color: #f7f7f4;
}
.highlight-post-container {
  grid-column: 5/26;
  justify-self: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
.post-card {
  width: 100%;
  max-width: 40.6rem;
  background-color: #201e18;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 22px;
}
.post-card:hover {
  background-color: #26241f;
}
.post-top h5,
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.post-card .date {
  font-size: 16px;
  color: #979899;
}
.post-top p {
  color: #979899;
}
.highlight-main a {
  color: var(--color-theme-accent);
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  justify-content: start;
  margin-top: 22px;
}
.highlight-main a:hover {
  color: #92391d;
}
.Try-now {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Try-now h1 {
  margin-top: 132px;
  font-size: 72px;
  font-weight: normal;
}
.Try-now .dwnld-for-windows {
  margin-bottom: 132px;
}

footer {
  background-color: #1b1913;
  display: grid;
  grid-template-columns: 110px 1fr 100px;
}

.footer-links {
  margin-top: 67px;
  grid-column: 2/3;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer-links li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}
.footer-links ul > li:first-child {
  font-size: 14px;
  color: #979899;
}
.footer-bottom {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.footer-btm-left {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer-btm-left p {
  font-size: 14px;
  color: #979899;
  cursor: pointer;
}
.footer-btm-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.footer-btm-right .theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: #25251d;
  padding: 6px 18px;
  border-radius: 25px;
  cursor: pointer;
}

.footer-btm-right .lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25251d;
  padding: 2px 12px;
  border-radius: 25px;
  gap: 5px;
  cursor: pointer;
}

/* Wroking on making it responsive --> not yet completed*/
/* Responsive */
@media (1025px <= width <= 1330px) {
  * {
    box-sizing: border-box;
  }
  .main-section {
    grid-template-columns: 30px 1fr 30px;
  }
  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-1 {
    grid-column: 2/3;
  }
  .vid-1 {
    grid-column: 2/3;
    width: 70%; /* changed */
  }
  .vid-1 video {
    width: 100%;
    height: auto;
    display: block;
  }
  .logo-stuff {
    grid-column: 2/3;
  }
  .card-holder .card {
    width: 6.3rem;
  }
  .main-2 {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-2-img-1 {
    width: 50%; /* changed */
    height: auto;
  }
  .main-2-img-2 {
    width: 50%; /* changed*/
  }
  .main-2 video {
    width: 50%; /* changed */
  }
  .frontlog-card-holder {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .frontlog-card video {
    width: 100%;
    margin-top: 18px;
    border-radius: 6px;
  }
  .highlight-main {
    padding: 0px 30px;
  }
  footer {
    grid-template-columns: 30px 1fr 30px;
  }
  .Try-now {
    grid-column: 2/3;
  }
  .frontlog-card video {
    height: auto;
    width: 10%;
    object-fit: contain;
  }
  .frontlog-card .frontlog-card-img {
    width: 20%;
  }
  .post-card {
    width: 100%;
    max-width: 30.6rem;
  }
  .highlight-main {
    padding: 0px 30px;
  }
  .highlight-main p {
    grid-column: 1/3;
  }
  .highlight-post-container {
    grid-column: 3/26;
  }
  .main-1 > p {
    font-size: 26px;
    width: 380px;
  }
  .frontlog {
    grid-column: 2/3;
    cursor: pointer;
  }
  .frontlog-card-holder {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: repeat(3, 427px);
  }
  .frontlog-card {
    width: 60%;
    height: auto;
  }
}
